


.our-service-parent-btn {
  position: relative;
}
.slider-item{
  transition: all 0.3s linear;
}

.slider-item:hover{
  margin: -40px 0 0 0;
}

.slider-inner{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 15px 0px;
  border-radius: 20px;
  background-color: #FFFFFF;
  padding: 50px 10px;
  position: relative;
}

.slider-inner img{
  width: 144px;
  height: 144px;
  object-fit: contain;
}

.see-more-service{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 9%;
}

.slick-list {
  background-color: #FFFFFF !important;
  margin: 0px 50px !important;
  padding: 50px 0 50px 0 !important;
}


@media only screen and (max-width: 600px) {
  .slider-item{
    transition: all 0.3s linear;
  }
  

  .slider-item:hover{
    margin: 0px 0 0px 0;
  }
  

  .slider-inner{
    box-shadow: 0px 0px 11px -2px #00000040;
     padding: 30px 2px;
  }
  .slider-inner img{
    width: 73px;
    height: 73px;
    left: 160px;
    top: 1631px;


  }

  .sliderBtnHomeOurServiceMobile {

    border: none;
    cursor: pointer;
    position: absolute;
    top: 40%;
    left: -10.5%;
    z-index: 50;
    height: 50px;
  
  }

  .sliderBtnHomeOurServiceMobile2 {

    border: none;
    cursor: pointer;
    position: absolute;
    top: 40%;
    right: -10.5%;
    z-index: 50;
    height: 50px;
  
  }

  .our-service-card-heading{
    margin-top: 20px;
  }
  .our-service-img{
    margin-top: -10px;
  }
  
  
  .slick-list {
    background-color: #FFFFFF !important;
    margin: 0px 20px !important;
    padding: 20px 0 20px 0 !important;
  }

  .service-card-title{
    font-family: "Roboto Condensed", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #441355;
  }
  
  
}

@media only screen and (min-width:768px) and (max-width:991px) {

  .slider-inner{
    padding: 20px;
    height: 220px;
    position: relative;
  }
  .our-service-card-heading{
    margin-top: 20px;
  }
  .our-service-img{
    margin-top: 10px;
  }

  .slider-inner img{
    width: 70px;
    height: 70px;
  }
  .sliderBtnHomeOurServiceMobile {

    border: none;
    cursor: pointer;
    position: absolute;
    top: 35%;
    left: -.5%;
    z-index: 50;
    height: 80px;
  
  }

  .sliderBtnHomeOurServiceMobile2 {

    border: none;
    cursor: pointer;
    position: absolute;
    top: 35%;
    right: -.5%;
    z-index: 50;
    height: 80px;
  
  }
 

}

@media only screen and (min-width:992px) and (max-width:1349px) {

  .slider-inner{
    padding: 10px 10px;
    position: relative;
  }

  .slider-inner img{
    width: 90px;
    height: 90px;
  }
  .our-service-card-heading{
    margin-top: 20px;
  }
  .our-service-img{
    margin-top: 20px;
  }

  .see-more-service{
    bottom: 8%;
  }
  .service-card-title{
    margin: 0px 0 0px;
    padding: 10px;
  }

 
  .service-card-title{
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    color: #441355;
    margin: -15px 0 0 0;
  }
  .slider-inner{
    height: 280px;
    padding: 7px;
    padding-bottom: 1px;
  }

  .sliderBtnHomeOurServiceLarge {

    border: none;
    cursor: pointer;
    position: absolute;
    top: 40%;
    left: -3.5%;
    z-index: 50;
    height: 80px;
  
  }

  .sliderBtnHomeOurServiceLarge2 {

    border: none;
    cursor: pointer;
    position: absolute;
    top: 40%;
    right: -3.5%;
    z-index: 50;
    height: 80px;
  
  }

  
}



@media screen and (min-width:1350px) and (max-width:1370px) {
  
  .slider-inner{
    padding: 10px;
    position: relative;
    height: 320px;
  }

  .our-service-card-heading{
    margin-top: 10px;
  }
  .our-service-img{
    margin-top: 20px;
  }

  .sliderBtnHomeOurServiceLarge {

    border: none;
    cursor: pointer;
    position: absolute;
    top: 40%;
    left: -3.5%;
    z-index: 50;
    height: 90px;
  
  }

  .sliderBtnHomeOurServiceLarge2 {

    border: none;
    cursor: pointer;
    position: absolute;
    top: 40%;
    right: -3.5%;
    z-index: 50;
    height: 90px;
  
  }

  .slider-inner img{
    width: 110px;
    height: 110px;
  }

 
  .service-card-title{
    margin: 0px 0 0 0px;
    padding: 10px;
    color: #441355;
    font-weight: 700;
    font-size: 25px;
  }
  .see-more-service{
    bottom: 8%;
    font-size: 20px;
  }
 
  
  
  
}


@media screen and (min-width:1371px) and (max-width:1440px) {
  
  .slider-inner{
    padding: 10px;
    position: relative;
    height: 320px;
  }

  .our-service-card-heading{
    margin-top: 10px;
  }
  .our-service-img{
    margin-top: 20px;
  }

  .sliderBtnHomeOurServiceLarge {

    border: none;
    cursor: pointer;
    position: absolute;
    top: 40%;
    left: -2%;
    z-index: 50;
    height: 90px;
  
  }

  .sliderBtnHomeOurServiceLarge2 {

    border: none;
    cursor: pointer;
    position: absolute;
    top: 40%;
    right: -2%;
    z-index: 50;
    height: 90px;
  
  }

  .slider-inner img{
    width: 110px;
    height: 110px;
  }

 
  .service-card-title{
    margin: 0px 0 0 0px;
    padding: 10px;
    color: #441355;
    font-weight: 700;
    font-size: 25px;
  }
  .see-more-service{
    bottom: 8%;
    font-size: 20px;
  }
 
  
  
  
}


@media only screen and (min-width:1536px) {
  .service-card-title{
    font-family: "Roboto Condensed", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 34px;
    color: #441355;
  }

  .slider-inner{
    padding: 20px 15px 20px;
    height: 450px;
  }

  .our-service-card-heading{
    margin-top: 30px;
  }
  .our-service-img{
    margin-top: 20px;
  }

  .sliderBtnHomeOurServiceLarge {

    border: none;
    cursor: pointer;
    position: absolute;
    top: 40%;
    left: -2%;
    z-index: 50;
    height: 104px;
  
  }

  .sliderBtnHomeOurServiceLarge2 {

    border: none;
    cursor: pointer;
    position: absolute;
    top: 40%;
    right: -2%;
    z-index: 50;
    height: 104px;
  
  }




}