


/* ============== small devices ============== */
@media only screen and (max-width: 600px) {

    .aboutOurBackgoundImg {
        height: 414px;
        width: 100%;
        object-fit: cover;
        border-radius: 15px;
        margin-bottom: 15px;
    }

    .ourBgParent {
        padding-left: 30px;
        padding-right: 30px;
    }

    .columnSpace {
        padding-left: 0px;
    }

    .ourBackgroundTitle {
        font-family: "Roboto Condensed", sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 35px;
        line-height: 39px;
        color: #441355;
        padding-bottom: 15px;
    }

    .ourBackgroundPara {
        color: #4A4A4B;
        font-family: "Alata", sans-serif;
        font-weight: 400;
        font-size: 15px;
        line-height: 22.5px;
        text-align: justify;
        padding-top: 15px;
        margin-bottom: 0px !important;

    }




}

/* ========= Medium devices (landscape tablets, 601px to 768px) ========== */
@media only screen and (min-width:768px) {

    .aboutOurBackgoundImg {
        height: 300px;
        width: 100%;
        object-fit: cover;
        border-radius: 15px;
    }

    .ourBgParent {
        padding-left: 4.4%;
        padding-right: 4.4%;
    }

    .columnSpace {
        padding-left: 4.4%;
    }

    .ourBackgroundTitle {
        font-family: "Roboto Condensed", sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 35px;
        line-height: 34px;
        color: #441355;
        padding-bottom: 15px;
    }

    .ourBackgroundPara {
        color: #4A4A4B;
        font-family: "Alata", sans-serif;
        font-weight: 400;
        font-size: 17px;
        line-height: 23px;
        text-align: justify;
        padding-top: 10px;
        margin-bottom: 0px !important;
    }

    .ourBackgroundParaFirst {
        color: #4A4A4B;
        font-family: "Alata", sans-serif;
        font-weight: 400;
        font-size: 17px;
        line-height: 23px;
        text-align: justify;
        margin-bottom: 0px !important;
    }


}

/* ======== Large devices (laptops/desktops, 769px to 992px) ========= */
@media only screen and (min-width: 992px) {
    .aboutOurBackgoundImg {
        height: 300px;
        width: 100%;
        object-fit: cover;
        border-radius: 15px;
    }

    .ourBgParent {
        padding-left: 4.4%;
        padding-right: 4.4%;
    }

    .columnSpace {
        padding-left: 4.4%;
    }

    .ourBackgroundTitle {
        font-family: "Roboto Condensed", sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 34px;
        color: #441355;
        padding-bottom: 15px;
    }

    .ourBackgroundPara {
        color: #4A4A4B;
        font-family: "Alata", sans-serif;
        font-weight: 400;
        font-size: 17px;
        line-height: 23px;
        text-align: justify;
        padding-top: 10px;
        margin-bottom: 0px !important;
    }

    .ourBackgroundParaFirst {
        color: #4A4A4B;
        font-family: "Alata", sans-serif;
        font-weight: 400;
        font-size: 17px;
        line-height: 23px;
        text-align: justify;
        margin-bottom: 0px !important;
    }
}


/* ====== Extra large devices (1400px and up if need) ====== */
@media only screen and (min-width: 1200px) {

    .aboutOurBackgoundImg {
        height: 430px;
        width: 100%;
        object-fit: cover;
        border-radius: 15px;
    }

    .ourBgParent {
        padding-left: 4.4%;
        padding-right: 4.4%;
    }

    .columnSpace {
        padding-left: 4.4%;
    }

    .ourBackgroundTitle {
        font-family: "Roboto Condensed", sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 55px;
        line-height: 60px;
        color: #441355;
        padding-bottom: 15px;
    }

    .ourBackgroundPara {
        color: #4A4A4B;
        font-family: "Alata", sans-serif;
        font-weight: 400;
        font-size: 17px;
        line-height: 23px;
        text-align: justify;
        padding-top: 15px;
        margin-bottom: 0px !important;
    }

    .ourBackgroundParaFirst {
        color: #4A4A4B;
        font-family: "Alata", sans-serif;
        font-weight: 400;
        font-size: 17px;
        line-height: 23px;
        text-align: justify;
        margin-bottom: 0px !important;
    }

}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1500px) {

    
    .sectionGap {
        padding-top: 700px;
      }
    .aboutOurBackgoundImg {
        height: 1072px;
        width: 100%;
        object-fit: cover;
        border-radius: 20px;
    }
    
    .ourBgParent {
        padding-left: 100px;
        padding-right: 100px;
    }
    
    .columnSpace {
        padding-left: 120px;
    }
    
    .ourBackgroundTitle {
        font-family: "Roboto Condensed", sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 84px;
        line-height: 100px;
        color: #441355;
        padding-bottom: 45px;
    }
    
    .ourBackgroundPara {
        color: #4A4A4B;
        font-family: "Alata", sans-serif;
        font-weight: 400;
        font-size: 30px;
        line-height: 45px;
        text-align: justify;
        padding-top: 45px;
        margin-bottom: 0px !important;
    }

    .ourBackgroundParaFirst {
        color: #4A4A4B;
        font-family: "Alata", sans-serif;
        font-weight: 400;
        font-size: 30px;
        line-height: 45px;
        text-align: justify;
        margin-bottom: 0px !important;
    }

}